@import url("https://fonts.googleapis.com/css?family=Space+Grotesk");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ecf0f1;
    font-family: 'Space Grotesk';
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: steelblue;
}

/*-----------------------------------------------------------------------------------*/
/* -- Navbar -- */

#navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 999;
    transition: all 0.6s;
}

#navbar .mobile {
    display: none;
}

#navbar img {
    width: 65px;
    padding: 10px;
    border: 3px solid white;
    margin-left: 24px;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar li a {
    display: inline-block;
    color: #676767;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}

#navbar li a:hover::after {
    width: 100%;
    transition: width .3s;
}

#navbar li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(27, 51, 70, 1) 0%, rgba(40, 75, 103, 1) 30%, rgba(59, 101, 136, 1) 60%, rgba(70, 130, 180, 1) 90%);
    transition: width .5s;
}

/*-----------------------------------------------------------------------------------*/
/* -- display -- */

#display {
    background-color: #1d1d1d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232d2d2d' fill-opacity='0.36'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100vh;
}

#display .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

#display .container .esquerda h2 {
    color: white;
    font-size: 30px;
}

#display .container .esquerda h1 {
    color: white;
    font-size: 56px;
}

#display .container .esquerda hr {
    color: white;
    border: 3px solid;
}

#display .container .info {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

#display .container .esquerda p {
    color: white;
    font-size: 26px;
}

#display .container .esquerda i {
    color: white;
    font-size: 2.6rem;
    transition: 0.4s;
}

#display .container .esquerda i:hover {
    color: steelblue;
}

#display .container .direita img {
    width: 32em;
    animation: floating 3s ease-in-out infinite;
    -webkit-filter: drop-shadow(0px 12px 24px rgba(0 0 0 / 95%));
    filter: drop-shadow(0px 12px 24px rgba(0 0 0 / 95%));
}

@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 12px); }
    100% { transform: translate(0, -0px); }
}

#display .setinha {
    display: flex;
    justify-content: center;
}

#display .setinha img {
    width: 60px;
}

/*-----------------------------------------------------------------------------------*/
/* -- Sobre -- */

#sobre {
    background-color: #1d1d1d;
    padding-top: 8em;
}

#sobre .titulo h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    padding-bottom: 4px;
}

#sobre .titulo hr {
    border: 3px solid #4682b4;
    width: 3.75em;
    margin: auto;
}

#sobre .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

#sobre .container .esquerda {
    width: 480px;
}

#sobre .container .esquerda h1 {
    color: white;
    font-size: 32px;
    text-align: center;
}

#sobre .container .esquerda p {
    color: #d1d1d1;
    font-size: 18px;
    text-align: justify;
}

#sobre .container .esquerda u {
    color: steelblue;
}

#sobre .container .esquerda .skills h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 4px;
}

#sobre .container .esquerda .skills hr {
    border: 2px dashed steelblue;
    width: 8em;
    margin: auto;
}

#sobre .container .esquerda .skills span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

#sobre .container .esquerda .skills img {
    width: 36px;
    margin: 16.6px;
    transition: all 0.5s;
}

#sobre .container .esquerda .skills img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#sobre .direita img {
    width: 14em;
}

/*-----------------------------------------------------------------------------------*/
/* -- Wave -- */

#wave {
    width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/* -- Projetos -- */

#projetos {
    padding-top: 8em;
}

#projetos .titulo h1 {
    color: black;
    font-size: 24px;
    text-align: center;
    padding-bottom: 5px;
}

#projetos .titulo hr {
    border: 3px solid steelblue;
    width: 3em;
    margin: auto;
}

#projetos .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 24px;
}

#projetos .container .card {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 330px;
    margin: 12px;
    transition: all 0.6s;
}

#projetos .container .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 3px 30px 60px;
}

#projetos .container .inicio {
    height: 189px;
    overflow: hidden;
    overflow-y: auto;
}

#projetos .container .inicio::-webkit-scrollbar {
    background-color: transparent;
    width: 0.4rem;
}

#projetos .container .inicio::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 0;
}

#projetos .container .inicio::-webkit-scrollbar-thumb:hover {
    background-color: steelblue;
}

#projetos .container .inicio img {
    width: 100%;
    height: auto;
}

#projetos .container .meio {
    padding: 15px 25px 15px 25px;
}

#projetos .container .meio p {
    color: #777;
    margin: 10px 0 10px 0;
}

#projetos .container .fim {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projetos .container .fim a {
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 17px;
    transition: 0.6s;
}

#projetos .container .fim i {
    color: black;
    font-size: 32px;
    transition: 0.6s;
}

#projetos .container .fim a:hover, #projetos .container .fim i:hover {
    color: steelblue;
}

#projetos .container .fim span {
    display: flex;
}

#projetos .container .fim img {
    width: 24px;
}

/*-----------------------------------------------------------------------------------*/
/* -- Footer -- */

#footer {
    background-color: #1d1d1d;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232d2d2d' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    padding: 25px;
}

/*-----------------------------------------------------------------------------------*/
/* -- Mobile -- */

@media screen and (max-width: 957px) {

    /* -- Navbar -- */
    #navbar {
        justify-content: space-between;
        padding: 25px;
    }

    #navbar .web {
        display: none;
    }

    #navbar .mobile, #navbar ul {
        display: block;
        background-color: transparent;
    }

    #navbar button i {
        color: white;
        font-size: 34px;
        transition: all 0.4s;
    }

    #navbar .dropdown {
        background: whitesmoke;
        border-radius: 4px;
        box-shadow: 0 0 40px -10px #000;
        color: #585858;
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
    }

    #navbar .down {
        max-height: 150px
    }

    /* -- Display -- */

    #display .container .esquerda h2 {
        font-size: 28px;
    }

    #display .container .esquerda h1 {
        font-size: 46px;
    }

    #display .container .esquerda i {
        font-size: 2.2rem;
    }

    #display .container .direita {
        display: none
    }

    /* -- About -- */

    #sobre .container .esquerda h1 {
        font-size: 22px;
    }

    #sobre .container .direita {
        display: none
    }

    /* -- Footer -- */

    #footer {
        font-size: 12px;
    }
}@import url("https://fonts.googleapis.com/css?family=Space+Grotesk");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ecf0f1;
    font-family: 'Space Grotesk';
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: steelblue;
}

/*-----------------------------------------------------------------------------------*/
/* -- Navbar -- */

#navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 999;
}

#navbar .mobile {
    display: none;
}

#navbar img {
    width: 65px;
    padding: 10px;
    border: 3px solid white;
    margin-left: 24px
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar li a {
    display: inline-block;
    color: #676767;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}

#navbar li a:hover::after {
    width: 100%;
    transition: width .3s;
}

#navbar li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(27, 51, 70, 1) 0%, rgba(40, 75, 103, 1) 30%, rgba(59, 101, 136, 1) 60%, rgba(70, 130, 180, 1) 90%);
    transition: width .5s;
}

/*-----------------------------------------------------------------------------------*/
/* -- display -- */

#display {
    background-color: #1d1d1d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232d2d2d' fill-opacity='0.36'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100vh;
}

#display .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

#display .container .esquerda h2 {
    color: white;
    font-size: 30px;
}

#display .container .esquerda h1 {
    color: white;
    font-size: 56px;
}

#display .container .esquerda hr {
    color: white;
    border: 3px solid;
}

#display .container .info {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

#display .container .esquerda p {
    color: white;
    font-size: 26px;
}

#display .container .esquerda i {
    color: white;
    font-size: 2.6rem;
    transition: 0.4s;
}

#display .container .esquerda i:hover {
    color: steelblue;
}

#display .container .direita img {
    width: 32em;
    animation: floating 3s ease-in-out infinite;
    -webkit-filter: drop-shadow(0px 5px 20px rgba(0 0 0 / 90%));
    filter: drop-shadow(0px 5px 20px rgba(0 0 0 / 90%));
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 12px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

#display .setinha {
    display: flex;
    justify-content: center;
}

#display .setinha img {
    width: 60px;
}

/*-----------------------------------------------------------------------------------*/
/* -- Sobre -- */

#sobre {
    background-color: #1d1d1d;
    padding-top: 8em;
}

#sobre .titulo h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    padding-bottom: 4px;
}

#sobre .titulo hr {
    border: 3px solid #4682b4;
    width: 3.75em;
    margin: auto;
}

#sobre .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

#sobre .container .esquerda {
    width: 480px;
}

#sobre .container .esquerda h1 {
    color: white;
    font-size: 32px;
    text-align: center;
}

#sobre .container .esquerda p {
    color: #d1d1d1;
    font-size: 18px;
    text-align: justify;
}

#sobre .container .esquerda u {
    color: steelblue;
}

#sobre .container .esquerda .skills h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 4px;
}

#sobre .container .esquerda .skills hr {
    border: 2px dashed steelblue;
    width: 8em;
    margin: auto;
}

#sobre .container .esquerda .skills span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

#sobre .container .esquerda .skills img {
    width: 36px;
    margin: 16.6px;
    transition: all 0.5s;
}

#sobre .container .esquerda .skills img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#sobre .direita img {
    width: 14em;
}

/*-----------------------------------------------------------------------------------*/
/* -- Wave -- */

#wave {
    width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/* -- Projetos -- */

#projetos {
    padding-top: 8em;
}

#projetos .titulo h1 {
    color: black;
    font-size: 24px;
    text-align: center;
    padding-bottom: 5px;
}

#projetos .titulo hr {
    border: 3px solid steelblue;
    width: 3em;
    margin: auto;
}

#projetos .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 24px;
}

#projetos .container .card {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 330px;
    margin: 12px;
    transition: all 0.6s;
}

#projetos .container .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 3px 30px 60px;
}

#projetos .container .inicio {
    height: 189px;
    overflow: hidden;
    overflow-y: auto;
}

#projetos .container .inicio::-webkit-scrollbar {
    background-color: transparent;
    width: 0.4rem;
}

#projetos .container .inicio::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 0;
}

#projetos .container .inicio::-webkit-scrollbar-thumb:hover {
    background-color: steelblue;
}

#projetos .container .inicio img {
    width: 100%;
    height: auto;
}

#projetos .container .meio {
    padding: 15px 25px 15px 25px;
}

#projetos .container .meio p {
    color: #777;
    margin: 10px 0 10px 0;
}

#projetos .container .fim {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projetos .container .fim a {
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 17px;
    transition: 0.6s;
}

#projetos .container .fim i {
    color: black;
    font-size: 32px;
    transition: 0.6s;
}

#projetos .container .fim a:hover, #projetos .container .fim i:hover {
    color: steelblue;
}

#projetos .container .fim span {
    display: flex;
}

#projetos .container .fim img {
    width: 24px;
}

/*-----------------------------------------------------------------------------------*/
/* -- Footer -- */

#footer {
    background-color: #1d1d1d;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232d2d2d' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    padding: 25px;
}

/*-----------------------------------------------------------------------------------*/
/* -- Mobile -- */

@media screen and (max-width: 957px) {

    /* -- Navbar -- */
    #navbar {
        justify-content: space-between;
        padding: 25px;
    }

    #navbar .web {
        display: none;
    }

    #navbar .mobile, #navbar ul {
        display: block;
        background-color: transparent;
    }

    #navbar button i {
        color: white;
        font-size: 34px;
        transition: all 0.4s;
    }

    #navbar .dropdown {
        background: whitesmoke;
        border-radius: 4px;
        box-shadow: 0 0 40px -10px #000;
        color: #585858;
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
    }

    #navbar .down {
        max-height: 150px
    }

    /* -- Display -- */

    #display .container .esquerda h2 {
        font-size: 28px;
    }

    #display .container .esquerda h1 {
        font-size: 46px;
    }

    #display .container .esquerda i {
        font-size: 2.2rem;
    }

    #display .container .direita {
        display: none
    }

    /* -- About -- */

    #sobre .container .esquerda h1 {
        font-size: 22px;
    }

    #sobre .container .direita {
        display: none
    }

    /* -- Footer -- */

    #footer {
        font-size: 12px;
    }
}
