@import url("https://fonts.googleapis.com/css?family=Space+Grotesk");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #ecf0f1;
    font-family: 'Space Grotesk';
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 0.8rem;

}

::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: steelblue;
}

/*-----------------------------------------------------------------------------------*/
/* -- Navbar -- */

#navbar {
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #1a1a1a;
}

#navbar .mobile {
    display: none;
}

#navbar img {
    width: 65px;
    padding: 10px;
    border: 3px solid white;
    margin-left: 24px
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar li a {
    display: inline-block;
    color: #676767;
    padding: 10px;
    font-weight: bold;
}

#navbar li a:hover::after {
    width: 100%;
    transition: width .3s;
}

#navbar li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(27, 51, 70, 1) 0%, rgba(40, 75, 103, 1) 30%, rgba(59, 101, 136, 1) 60%, rgba(70, 130, 180, 1) 90%);
    transition: width .5s;
}

/*-----------------------------------------------------------------------------------*/
/* -- display -- */

#display {
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 84vh;
}

#display .esquerda h2 {
    color: white;
    font-size: 30px;
}

#display .esquerda h1 {
    color: white;
    font-size: 56px;
}

#display .esquerda hr {
    color: white;
    border: 3px solid;
}

#display .info {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

#display .esquerda p {
    color: white;
    font-size: 26px;
}

#display .esquerda i {
    color: white;
    font-size: 2.6rem;
    transition: 0.4s;
}

#display .esquerda i:hover {
    color: steelblue;
}

#display .direita img {
    width: 32em;
}


/*-----------------------------------------------------------------------------------*/
/* -- Setinha -- */

#setinha {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
}

#setinha img {
    width: 60px;
}

/*-----------------------------------------------------------------------------------*/

#about {
    background-color: #1d1d1d;
    padding-top: 8em;
}

#about .titulo h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    padding-bottom: 4px;
}

#about .titulo hr {
    border: 3px solid steelblue;
    width: 3.75em;
    margin: auto;
}

#about .conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

#about .esquerda {
    width: 480px;
}

#about .esquerda h1 {
    color: white;
    font-size: 32px;
    text-align: center;
}

#about .esquerda p {
    color: #d1d1d1;
    font-size: 18px;
    text-align: justify;
}

#about .esquerda u {
    color: steelblue;
}

#about .esquerda .skills h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 4px;
}

#about .esquerda .skills hr {
    border: 2px dashed steelblue;
    width: 8em;
    margin: auto;
}

#about .esquerda .skills span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

#about .esquerda .skills img {
    width: 36px;
    margin: 16.6px;
    transition: all 0.5s;
}

#about .esquerda .skills img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#about .direita img {
    width: 14em;
}

/*-----------------------------------------------------------------------------------*/
/* -- Wave -- */

#wave {
    width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/* -- Projects -- */

#projects {
    padding-top: 8em;
}

#projects .titulo h1 {
    color: black;
    font-size: 24px;
    text-align: center;
    padding-bottom: 5px;
}

#projects .titulo hr {
    border: 3px solid steelblue;
    width: 3em;
    margin: auto;
}

#projects .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 24px;
}

#projects .card {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 330px;
    margin: 12px;
    transition: all 0.6s;
}

#projects .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 3px 30px 60px;
}

#projects img {
    width: 100%;
    height: 100%;
}

#projects .meio {
    padding: 15px 25px 15px 25px;
}

#projects .meio p {
    color: #777;
    margin: 10px 0 10px 0;
}

#projects .fim {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projects .fim a {
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 17px;
    transition: 0.6s;
}

#projects .fim i {
    color: black;
    font-size: 32px;
    transition: 0.6s;
}

#projects .fim a:hover, #projects .fim i:hover {
    color: steelblue;
}

#projects .fim span{
    display: flex;
}

#projects .fim img {
    width: 24px;
}

/*-----------------------------------------------------------------------------------*/
/* -- Footer -- */

#footer {
    background-color: #1d1d1d;
    color: #676767;
    font-size: 14px;
    text-align: center;
    padding: 25px;
}

/*-----------------------------------------------------------------------------------*/
/* -- Mobile -- */

@media screen and (max-width: 957px) {

    /* -- Navbar -- */
    #navbar {
        justify-content: space-between;
        padding: 25px;
    }

    #navbar .web {
        display: none;
    }

    #navbar .mobile, #navbar ul {
        display: block;
        background-color: transparent;
    }

    #navbar button i {
        color: white;
        font-size: 34px;
        transition: all 0.4s;
    }

    #navbar button i:hover {
        color: steelblue;
    }

    #navbar .dropdown {
        background: whitesmoke;
        border-radius: 4px;
        box-shadow: 0 0 40px -10px #000;
        color: #676767;
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
    }

    #navbar .down {
        max-height: 150px
    }

    /* -- Display -- */

    #display .esquerda h2 {
        font-size: 28px;
    }

    #display .esquerda h1 {
        font-size: 46px;
    }

    #display .esquerda i {
        font-size: 2.2rem;
    }

    #display .direita {
        display: none
    }

    /* -- About -- */

    #about .esquerda h1 {
        font-size: 22px;
    }

    #about .direita {
        display: none
    }

    /* -- Footer -- */

    #footer {
        font-size: 12px;
    }
}
